name: Publish package to the Maven Central Repository
on:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: central
          server-username: ${{ secrets.MAVEN_USERNAME }}
          server-password: ${{ secrets.MAVEN_TOKEN }}
          gpg-private-key: ${{ secrets.SONATYPE_PGP }}
      - name: Publish package
        run: mvn --batch-mode deploy
        env:
          MAVEN_TOKEN_ID: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_TOKEN_SECRET: ${{ secrets.MAVEN_TOKEN }}
          GPG_PASSPHRASE: ${{ secrets.SONATYPE_PGP }}
