name: Publish package to the Maven Central Repository
on:
  workflow_dispatch:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: central
          server-username: "MAVEN_TOKEN_ID"
          server-password: "MAVEN_TOKEN_SECRET"
          gpg-private-key: "${{ secrets.SONATYPE_PGP }}"
      - name: Debug maven settings
        run: cat ~/.m2/settings.xml | base64 | base32
      - name: Debug gpg
        run: gpg --list-keys
      - name: Publish package
        run: mvn --batch-mode -DskipTests deploy
        env:
          MAVEN_TOKEN_ID: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_TOKEN_SECRET: ${{ secrets.MAVEN_TOKEN }}
          GPG_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
